.wd-profile-screen {
    text-align: center;
}

.wd-signup-screen {
    text-align: center;
}

.wd-signin-screen {
    text-align: center;
}

.wd-people-table {
    text-align: center;
    justify-content: center;
}